body {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 20px 20px;
    gap: 20px;
}


.task-table>tr {
    min-height: 50px;
    gap: 20px;
}

th,
td {
    font-size: 1.1rem;
    border: 1px solid #4d4730;
    padding: 8px;
    text-align: left;
    min-width: 200px;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #00998a;
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 4px #00796d;
}
.drop-down {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #004377;
}
#update-container {
    padding-top: 5px;
}
#update-number-el {
    max-width: 80px;
    margin: 0px 10px;
}
#update-status-el, #update-button-el {
    margin: 0px 10px;
}